@model WebApplication7.Models.Cords

@{
    ViewData["Title"] = "Home Page";
}
@if(ViewBag.username != null)
{
    <p>Welcome @ViewBag.username</p>
}
else
{
    <p>If you want to save your markers in database please log in or create an account</p>
}
<form method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="Name" required />
    </div>
    <div>
        <label>Longitude:</label>
        <input type="number" name="Longitude" required />
    </div>
    <div>
        <label>Latitude:</label>
        <input type="number" name="Latitude" required />
    </div>
    <div>
    <input type="hidden" name="Username" value="@ViewBag.username" />
        <button type="submit">Add Location</button>
    </div>
</form>
<div id="map" style="height: 500px;"></div>
<script src="~/js/site.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap"></script>
