@model WebApplication7.Models.User
@{
    ViewData["Title"] = "Register";
}
<p>Register</p>
<form method="post">
    <div>
        <label>Username:</label>
        <input asp-for="Username" name="Username" required />
    </div>
    <div>
        <label>E-mail:</label>
        <input asp-for="Email" name="Email" required />
    </div>
    <div>
        <label>Password:</label>
        <input asp-for="Password" name="Password" required />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
@if (ViewBag.UsernameTaken == true)
{
    <div>
        <p>Username is already taken</p>
    </div>
}
<script src="~/js/addUser.js"></script>
